# .env file for ClimbEdge application
# This file contains environment variables for the application configuration
# Certbot environment variables
APP_DOMAIN=
CERT_PASSWORD=
CERT_EMAIL=
# Docker Registry configuration
# Dotnet environment variables
ASPNETCORE_ENVIRONMENT=
ASPNETCORE_URLS=
ASPNETCORE_HTTPS_PORT=
ASPNETCORE_Kestrel__Certificates__Default__Path=
# Qwik environment variables
NODE_ENV=
NODE_PORT=
VITE_APP_NAME=
# Database environment variables
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_USER=